
<div class="container">

  <div class="row">
{{#each data}}
    <div class="col-6">
      <div class="card" style="width: 18rem;background-color:red;">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-phone" aria-hidden="true"></i> {{MobileNumber}}</h5>
          <p class="card-text"><i class="fa fa-cutlery"></i>  <b>{{itemDetails}}</b></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-info-circle"></i> {{FirstName}}</li>
          <li class="list-group-item"><i class="fa fa-info-circle"></i> {{LastName}}</li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i> {{Address}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link" style="color:white;"><i class="fa fa-map-pin"></i> {{pinCode}}</a>

        </div>

      </div>

    </div>

  </div>
    {{else}}

  <p>No Foods Listed at this time</p>
  {{/each}}

</div>
